.type-post,
.type-page,
.type-attachment,
.comments-area,
.comment-respond,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment),
.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) {
	margin: 0 0 2em 0;
	max-width: 100%;
	background: #fff;
	box-shadow: 0 1px 2px #bbb;
}

.page-title,
.entry-title {
	margin: 0;
	padding: 0;
	color: #ee4455;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 28px;
	font-size: 1.75rem;
	font-family: 'Montserrat', Tahoma, Arial;
}

.entry-title a:link,
.entry-title a:visited {
	color: #ee4455;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #303030;
}

.wp-post-image {
	margin: 0;
	vertical-align: top;
}

.post-content {
	padding: 1.25em 1.5em 1.5em;
}

.entry-content p:first-child {
	margin-top: 0.5em;
}

.entry-content p:last-child {
	margin-bottom: 0;
}

.entry-content a {
	text-decoration: underline;
}

.sticky {
	border: none;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0;
	word-spacing: 1em;
	font-weight: bold;
}

/* Error 404: Not Found Template */
.error404 .not-found .widget {
	padding: 0;
	border: none;
	box-shadow: none;
}
