/*
 * Safari Flexbox CSS Fixes
 *
 * @package Napoli
 */

/* Fix Flexbox issues for Safari 6.1-10.0 */
@media screen and ( min-color-index: 0 ) and ( -webkit-min-device-pixel-ratio: 0 ) {
	@media {
		.post-layout-columns .post-wrapper .post-column,
		.widget-magazine-posts .magazine-grid .post-column {
			margin-right: -1px;
		}
	}
}

/* Fix Flexbox issues for Safari 10.1+ */
@media not all and ( min-resolution: .001dpcm ) {
	@media {
		.post-layout-columns .post-wrapper .post-column,
		.widget-magazine-posts .magazine-grid .post-column {
			margin-right: -1px;
		}
	}
}
