.primary-navigation {
	float: left;
	margin: 1em 0;
}

.main-navigation-toggle {
	display: none;
}

.main-navigation-menu {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu li {
	float: left;
}

.main-navigation-menu a {
	display: block;
	padding: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: 'Montserrat', Tahoma, Arial;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-navigation-menu > .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.4em 0 0 0.3em;
	content: '\f431';
	vertical-align: top;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu a:link,
.main-navigation-menu a:visited {
	color: #fff;
	text-decoration: none;
}

.main-navigation-menu a:hover,
.main-navigation-menu a:active {
	color: #ccc;
}

.main-navigation-menu ul {
	position: absolute;
	z-index: 99;
	display: none;
	margin: 0;
	padding: 0;
	background: #fff;
	box-shadow: 0 1px 2px #bbb;
	color: #444;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu ul li {
	position: relative;
	float: none;
}

.main-navigation-menu ul a {
	padding: 1em;
	min-width: 250px;
	min-width: 16rem;
	border-bottom: 1px solid #eee;
	font-size: 13px;
	font-size: 0.8125rem;
	-webkit-transition: none;
	transition: none;
}

.main-navigation-menu ul li:last-child > a {
	border-bottom: none;
}

.main-navigation-menu ul a:link,
.main-navigation-menu ul a:visited {
	color: #444;
}

.main-navigation-menu ul a:hover,
.main-navigation-menu ul a:active {
	color: #999;
}

.main-navigation-menu ul .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.3em 0 0 0.3em;
	color: #444;
	content: '\f431';
	vertical-align: top;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu li ul ul {
	top: 0;
	left: 100%;
}

.main-navigation-menu li.menu-item-has-children:hover > ul,
.main-navigation-menu li.page_item_has_children:hover > ul,
.main-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
	display: block;
}

.main-navigation-menu li.current-menu-item > a {
	text-decoration: underline;
}

/* Mega Menu Styling */
.mega-menu-content .mega-menu-widget a:link,
.mega-menu-content .mega-menu-widget a:visited {
	color: #fff;
}

.mega-menu-content .mega-menu-widget a:hover,
.mega-menu-content .mega-menu-widget a:active {
	color: rgba(255,255,255,0.6);
}

.mega-menu-content .widget_meta ul li,
.mega-menu-content .widget_pages ul li,
.mega-menu-content .widget_categories ul li,
.mega-menu-content .widget_archive ul li {
	display: block;
	border-top: 1px dotted rgba(255,255,255,0.2);
}

.mega-menu-content .widget_meta ul li a,
.mega-menu-content .widget_pages ul li a,
.mega-menu-content .widget_categories ul li a,
.mega-menu-content .widget_archive ul li a {
	display: block;
	padding: 0.75em;
	font-size: 14px;
	font-size: 0.875rem;
}

.mega-menu-content .widget_meta ul li a:hover,
.mega-menu-content .widget_pages ul li a:hover,
.mega-menu-content .widget_categories ul li a:hover,
.mega-menu-content .widget_archive ul li a:hover {
	background: #ee4455;
	color: #fff;
}

.mega-menu-content .mega-menu-widget .entry-meta,
.mega-menu-content .mega-menu-widget .entry-meta span:before {
	color: #ddd;
}
