@media only screen and (max-width: 75em) {
	.container {
		padding: 0 1.5em;
	}

	.site-content {
		padding-top: 1.5em;
	}

	.content-area {
		padding-right: 1.5em;
	}

	.widget,
	.page-header,
	.type-post,
	.type-page,
	.type-attachment,
	.pagination,
	.comments-area,
	.site-main > article:not(.type-post):not(.type-page):not(.type-attachment),
	.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) {
		margin-bottom: 1.5em;
	}

	.post-layout-columns .post-wrapper {
		margin-right: -1.5em;
	}

	.post-layout-columns .post-wrapper .post-column {
		padding-right: 1.5em;
	}

	.infinite-scroll #infinite-handle,
	.infinite-scroll .infinite-loader {
		margin-right: 1.5em;
	}
}

@media only screen and (max-width: 70em) {
	.content-area {
		width: 70%;
	}

	.sidebar {
		width: 30%;
	}
}

@media only screen and (max-width: 60em) {
	.content-area,
	.site-content .content-fullwidth {
		float: none;
		padding: 0;
		width: 100%;
	}

	.sidebar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		float: none;
		margin-right: -1.5em;
		padding: 0;
		width: auto;
	}

	.sidebar .widget-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		float: right;
		box-sizing: border-box;
		padding-right: 1.5em;
		width: 50%;
	}

	.sidebar .widget-wrap .widget {
		width: 100%;
	}

	.sidebar .widget-wrap:nth-child(2n + 1) {
		clear: left;
	}

	.post-layout-three-columns .post-wrapper .post-column {
		width: 50%;
	}

	.header-main {
		position: relative;
	}

	.site-branding {
		margin: 1em 1em 1em 4em;
	}

	.site-footer .site-info {
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width: 50em) {
	.site-branding {
		margin: 1em 1em 1.25em 3.5em;
	}

	.header-social-icons {
		margin: 1.25em 0;
	}

	.header-social-icons .social-icons-menu li a::before {
		font-size: 22px;
	}
}

@media only screen and (max-width: 40em) {
	.header-social-icons {
		display: none;
	}

	.post-layout-columns .post-wrapper {
		display: block;
		margin-right: 0;
	}

	.post-layout-columns .post-wrapper .post-column {
		display: block;
		float: none;
		padding-right: 0;
	}

	.post-layout-two-columns .post-wrapper .post-column,
	.post-layout-three-columns .post-wrapper .post-column {
		width: 100%;
	}

	.infinite-scroll #infinite-handle,
	.infinite-scroll .infinite-loader {
		margin-right: 0;
	}

	/* Sidebar */
	.sidebar {
		margin-right: 0;
	}

	.sidebar .widget-wrap {
		float: none;
		padding-right: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 30em) {
	.site-branding {
		margin: 0.75em 0.75em 0.75em 3em;
	}

	.post-content {
		padding: 1em 1.25em 1.25em;
	}

	.post-navigation {
		padding: 1rem 1.5rem;
		font-size: 14px;
		font-size: 0.875rem;
	}

	.post-navigation .nav-links .entry-title {
		font-size: 16px;
		font-size: 1rem;
	}

	.post-navigation .nav-links .nav-previous,
	.post-navigation .nav-links .nav-next {
		float: none;
		padding: 0;
		max-width: 100%;
	}

	.post-navigation .nav-links .nav-next {
		text-align: right;
	}

	.post-navigation .nav-links a {
		display: block;
		margin-bottom: 0.5em;
	}
}

@media only screen and (max-width: 20em) {
	.entry-meta .meta-date,
	.entry-meta .meta-author,
	.entry-meta .meta-category,
	.entry-meta .meta-comments {
		display: block;
	}
}
