.header-social-icons {
	margin: 1.5em 0;
	margin-left: auto;
}

.header-social-icons .social-icons-menu {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.header-social-icons .social-icons-menu li {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.header-social-icons .social-icons-menu li a {
	display: flex;
	margin: 0;
	padding: 0.7em;
	@include color(--header-text-color);
}

.header-social-icons .social-icons-menu li a:hover,
.header-social-icons .social-icons-menu li a:active {
	@include color(--header-text-hover-color);
	text-decoration: none;
}

.header-social-icons .social-icons-menu li a .icon {
	margin: 0;
	width: 24px;
	height: 24px;
	vertical-align: top;
	fill: currentColor;
}
